node-red-flow.json
[{"id":"736ef7e6.851e38","type":"tab","label":"Snips Simple UI","disabled":false,"info":"This is the Snips simple UI interface for editing the database used by the assistant."},{"id":"efd55e6b.6d1eb","type":"http in","z":"736ef7e6.851e38","name":"DB Request","url":"/simpleuidb","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["fc1fc7a3.bfa708"]]},{"id":"555ef227.b3e06c","type":"http response","z":"736ef7e6.851e38","name":"Send to Snips","statusCode":"200","headers":{},"x":600,"y":120,"wires":[]},{"id":"febe63a8.962d8","type":"template","z":"736ef7e6.851e38","name":"Database Template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"user\": \"Bruce\",\n\"categories\":[\"food\",\"sleeping\",\"bathroom\",\"cleaning\",\"temperature\",\"emergency\",\"transportation\"],\n\"food\":{\"categories\":[\"cook\",\"eat\",\"store\"],\n        \"cook\":\"The cookware is under the cooker.\",\n        \"eat\": \"Snacks are in the pantry, ingredients too.\",\n        \"store\": \"You can store food in the fridge near the pantry or in the freezer in the storage room.\"\n      },\n\"sleeping\":{\"categories\":null,\n            \"sleeping\":\"Beddings are under the bed.\"\n          },\n\"bathroom\":{\"categories\":null,\n            \"bathroom\":\"Everything is in the bathroom.\"\n          },\n\"cleaning\":{\"categories\":null,\n            \"cleaning\":\"Everything is in the bathroom.\"\n          },\n\"temperature\":{\"categories\":null,\n            \"temperature\":\"You can cool the house by opening the windows.\"\n          },\n\"emergency\":{\"categories\":null,\n            \"emergency\":\"Life is hard, man.\"\n          },\n\"transportation\":{\"categories\":null,\n            \"transportation\":\"Save the planet by walking.\"\n          }\n}","output":"json","x":370,"y":80,"wires":[["8b5a0e54.b639"]]},{"id":"8b5a0e54.b639","type":"function","z":"736ef7e6.851e38","name":"Save as Global","func":"var db;\ndb = msg.payload;\nglobal.set(\"simpleuidb\",db)\nreturn msg;","outputs":0,"noerr":0,"x":580,"y":80,"wires":[]},{"id":"b4b82a66.6f1848","type":"inject","z":"736ef7e6.851e38","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["febe63a8.962d8"]]},{"id":"5748ad96.3fdca4","type":"function","z":"736ef7e6.851e38","name":"Save Answer as Global","func":"var cat = \"simpleuidb.\"+msg.topic+\".\"+msg.topic;\nglobal.set(cat,msg.payload);\nreturn msg;","outputs":0,"noerr":0,"x":510,"y":220,"wires":[]},{"id":"b0652133.07598","type":"inject","z":"736ef7e6.851e38","name":"Change Category Answer","topic":"sleeping","payload":"The beddings are in the bedroom","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["5748ad96.3fdca4"]]},{"id":"fc1fc7a3.bfa708","type":"function","z":"736ef7e6.851e38","name":"Get Database","func":"msg.payload = global.get(\"simpleuidb\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["555ef227.b3e06c"]]},{"id":"e86e6eaa.3de5","type":"function","z":"736ef7e6.851e38","name":"Save User as Global","func":"global.set(\"simpleuidb.user\",msg.payload);\nreturn msg;","outputs":0,"noerr":0,"x":520,"y":180,"wires":[]},{"id":"89dd8a09.41d378","type":"inject","z":"736ef7e6.851e38","name":"Change User Name","topic":"","payload":"Alberto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["e86e6eaa.3de5"]]}]
